.input-qq {
  margin-left: 6px;
  padding-bottom: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.input-tips {
  color: #f56c6c;
}